html {
    font-size: 62.5%;
}
/*顶部样式*/
body {
	margin: 0;
    padding: 0;
    height: 100%;
	background-image: url('../image/image.jpg'); /* 替换为您的图片路径 */
	background-size: cover; /* 背景图片覆盖整个容器 */
	background-repeat: no-repeat; /* 背景图片不重复 */
}
.wrap{
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    /* 自动占据剩余高度 */
}
h1{
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: #fff;
}
.contain{
    display: flex;
}
.contain_leftContent,.contain_rightContent{
    width: 30vw;
    background-color: aquamarine;
}
.contain_mainContent{
    width: 40vw;
    background-color: aqua;
}
